<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CI Performance Tracing and Statistics</title>

<!-- Bootstrap -->
<link href="../css/bootstrap.min.css" rel="stylesheet">

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="../css/jquery.dataTables.min.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">CI Performance Tracing and Statistics</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/">Builds</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="page-header" style="margin-top: 75px">
				<h1>
					Build
					<!--<a href="build/create.html"> <button type="button" class="btn btn-success pull-right">Add Test Execution Plan</button></a> -->
				</h1>
			</div>
		</div>
		<div class="row">
			<div id="main_panel" class="panel">
				<div class="panel-heading">
					<h3 class="panel-title" id="build_header"></h3>
				</div>
				<div id="collapseOne" class="panel-collapse collapse in">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<dl class="dl-horizontal">
									<dt>Name</dt>
									<dd id="build_name"></dd>

									<dt>Description</dt>
									<dd id="build_description"></dd>
								</dl>
							</div><!-- /.col-md-12 -->
						</div><!-- /.row -->
						<div class="row">
							<div class="col-md-4">
								<h5 style="text-align: center">
									<strong>General</strong>
								</h5>
								<dl class="dl-horizontal">
									<dt>Start Date</dt>
									<dd id="build_date"></dd>

									<dt>End Date</dt>
									<dd id="build_end_date"></dd>

									<dt>Status</dt>
									<dd id="build_status"></dd>

									<dt>Duration</dt>
									<dd id="build_duration"></dd>
								</dl>
							</div>
							<div class="col-md-4">
								<h5 style="text-align: center">
									<strong>Criterias</strong>
								</h5>
								<dl class="dl-horizontal" id="build_criterias"></dl>
							</div>
							<div class="col-md-4">
								<h5 style="text-align: center">
									<strong>Tests Summary</strong>
								</h5>
								<dl class="dl-horizontal" id="build_tests">
									<dt>Total</dt>
									<dd id="build_tests_all"></dd>

									<dt>Pass</dt>
									<dd id="build_tests_pass"></dd>
									
									<dt>Regressions</dt>
									<dd id="build_regressions"></dd>

									<dt>Failures</dt>
									<dd id="build_tests_fail"></dd>

									<dt>Errors</dt>
									<dd id="build_tests_error"></dd>

									<dt title="New Regressions">New</dt>
									<dd id="build_tests_new"></dd>

									<dt title="Fixed Regressions">Fixed</dt>
									<dd id="build_tests_fix"></dd>
								</dl>
							</div>
						</div><!-- /.row -->
						<div id="detail_panel" class="row" style="margin-bottom:10px">
							<div class="col-md-12">
								<a data-toggle="collapse" href="#collapseDetails" aria-expanded="false" aria-controls="collapseDetails">Show Details</a>
								<div class="collapse" id="collapseDetails">
									<div class="well">
										<div class="row">
											<div class="col-md-6">
												<h5 id="build_info_title" style="text-align: center">
													<strong>Details</strong>
												</h5>
												<dl class="dl-horizontal" id="build_info"></dl>
											</div>
											<div class="col-md-6">
												<h5 id="build_reports_title" style="text-align: center">
													<strong>Reports</strong>
												</h5>
												<dl class="dl-horizontal" id="build_reports"></dl>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<h3 id="thumbnails">Commits</h3>
												<table id="commits" class="display" cellspacing="0" width="100%">
													<thead>
														<tr>
															<th>Commit Id</th>
															<th>Date Committed</th>
															<th>Author</th>
														</tr>
													</thead>
													<tfoot>
														<tr>
															<th>Commit Id</th>
															<th>Date Committed</th>
															<th>Author</th>
														</tr>
													</tfoot>
												</table>
											</div>
										</div>
									</div>
								</div><!-- /.well -->
							</div><!-- /.col-md-12 -->
						</div><!-- /.row -->
						<div class="row" id="build_timeline_section">
							<div class="col-md-12">
								<div id="build_timeline" style="height: 100px;"></div>
							</div>
						</div>
						<div class="form-horizontal">
							<div class="form-group">
								<div class="row">
									<label for="graphs_link" class="col-sm-2 control-label">Display Graph</label>
									<div class="col-md-2">
										<select class="form-control" id="graphs_link" name="graphs_link"></select>
									</div>
								</div>	
							</div>	
						</div>
						<div class="row">
							<div id="graph-panel"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div style="margin-bottom: 5px">
						<a class="btn btn-default" href="/{{build_id}}/search">
							<span class="glyphicon glyphicon-search"></span> Search
						</a>
					</div>
				</div><!-- /.col-md-12 -->
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="list-group" id="reports_list"></div>
				</div><!-- /.col-md-12 -->
			</div><!-- /.row -->
		</div><!-- /.row -->
		<a href="/api/builds/{{build_id}}">Rest</a>
	</div><!-- /.container -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../js/vendors/bootstrap.min.js"></script>
	<!-- DataTables -->
	<script type="text/javascript" charset="utf8"
		src="../js/vendors/jquery.dataTables.min.js"></script>
	<!-- Google Visualization Chart -->
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
		google.load("visualization", "1.1", {packages:["timeline", "corechart"]});
	</script>
	<script type="text/javascript" src="../js/vendors/moment.min.js"></script>
	<script type="text/javascript" src="../js/vendors/underscore.min.js"></script>
	<script type="text/javascript" src="../js/batam.util.js"></script>

	<script type="text/javascript">
    	var ServerConfig = { "build_id": "{{build_id}}" };
	</script>
	<script type="text/javascript" src="../js/build.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			BuildPage.init();
		});
	</script>
</body>
</html>